h1 {
    font-family:'Gabriola', serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    font-family:'Cambria', serif;
    font-size: 1.5em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Gabriola', serif;
}
body{
    background-image: url("img/background.jpg");
    background-repeat: repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 50px;
  }
/* Quiz Classes */
 .quizContainer {
    background-image: url("img/questionbackground.jpg");
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    /*-moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;*/
    position: relative;
}
.quizcontainer #quiz1
{
text-shadow:1px 1px 2px orange;
font-family:"Georgia", Arial, sans-serif;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
   /* width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: rgb(22, 6, 235);
    /*clear: both;*/
    color: rgb(223, 223, 223);
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:right;
	right:10%;
    animation: glow 1s ease-in-out infinite alternate;
}
.nextButton:hover span {
    padding-right: 25px;
  }
.nextButton:hover span:after {
    opacity: 1;
    right: 0;
  }

.preButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 4px;
    /*width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: rgb(240, 13, 13);
    /*clear: both;*/
    color: rgb(255, 255, 255);
    font-family:'Gabriola', serif;
    position: relative;
    cursor: pointer;
    margin: 5px;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
    transition: all 0.5s;
	float:left;
	left:10%;
    animation: glow 1s ease-in-out infinite alternate;
}
.preButton:hover span {
    padding-left: 25px;
  }
.preButton:hover span:after {
    opacity: 1;
    right: 0;
  }
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f1ee0d, 0 0 40px #f1ee0d, 0 0 50px #f1ee0d, 0 0 60px #f1ee0d, 0 0 70px #f1ee0d;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #13495f, 0 0 40px #13495f, 0 0 50px #13495f, 0 0 60px #13495f, 0 0 70px #13495f, 0 0 80px #13495f;
    }
  }

.question {
    font-family:'Century', serif;
    font-size: 1.5em;
	font-weight:bold;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #3E9EBB;
    text-align: center;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
	font-size:20px;
	font-weight:bold;
    font-family:'Gabriola', serif;
    color: red;
	position:absolute;
	top:80%;
	left:40%;
}
.choiceList {
    font-family: 'Arial', serif;
    color: #0c010a;
	font-size:13px;
	font-weight:bold;
}
.result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
	color:green;
    text-align: center;
	font-size:25px;
    font-family:'Verdana', serif;
	font-weight:bold;
	position:absolute;
	top:100%;
	left:30%;
}
/* End of Quiz Classes */